*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', sans-serif;
   background: linear-gradient(
    to bottom,
   #87cfeb 0%,   
    #b0e0e6 35%,  
    #71e0ff 55%,
    #ffeb9a 75%,  
    #fe9175 100%  
     
  );
  background-repeat: no-repeat;
  color : #333;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.cloud{
    position: absolute;
    background: white;
    border-radius: 50px;
    width: 140px;
    height: 60px;
    opacity:0.9;
    z-index: -1;
}

.cloud::before,
.cloud::after{
    content: '';
    position: absolute;
    background: white;
    border-radius: 50%;
}

.cloud::before{
    width: 60px;
    height: 60px;
    top: -30px;
    left: 10px;
}

.cloud::after{
    width: 80px;
    height: 80px;
    top: -40px;
    right: 10px;
}

.cloud1{
    top: 50px;
    filter: blur(2px);
    opacity: 0.9;
    animation: floatRight 45s linear infinite;
}
.cloud2{
    top: 120px;
    filter: blur(2px);
    opacity: 0.7;
    animation: floatRight 60s linear infinite;
}

.top-bar{
    display: flex;
    font-size: 1rem;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
}
.top-bar ul{
    display:flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.top-bar ul li{
    padding-left: 0.2rem;
    text-decoration: none;
}
.top-bar > ul:first-child{
    font-family: 'Papyrus', cursive;
    margin-right:auto;
    font-weight: 900;
    text-decoration: none;
    color:rgb(21, 20, 20);
}

.top-bar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
.top-bar a:hover{
    color: #0077b6;
}

.hero{
    padding: 1.6rem;
    gap:2rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
      max-width: 1200px;
      background: transparent;
}

.hero p{
    flex: 1;
    font-size: 1.4rem;
    color: #0b0b0b;
    line-height:1.6;
    margin-bottom: 1.2rem;
}
.hero-content {
            flex: 2;
        }
.hero .hero-img{
  border: 1px solid #9ed8ed;
  background-color: #9ed8ed;
    border-radius: 50px;
    height: 230px;
    max-width: 280px;
    display: inline-block;
    flex: 1;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.journey-img{
    height: auto;
    width: auto;
}


#journey {
  padding: 60px 10px;
  max-width: 1000px;
  margin: 0;
}

.journey .topic {
  margin-bottom: 70px;
  padding-left: 10px;
}

/* Timeline */
.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 80px;
}

/* Line */
.timeline::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #bbb;
  z-index: 0;
}

/* Item */
.timeline-item {
  position: relative;
  text-align: center;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  background: #000708;
  border-radius: 50%;
  margin: auto;
  transition: 0.3s;
}


.content {
  margin-top: 15px;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.content h3 {
  margin: 0;
  font-size: 1rem;
}

.content p {
  font-size: 0.85rem;
  color: #666;
}

.timeline-item:hover .circle {
  transform: scale(1.5);
  background: #ececed;
}

.timeline-item:hover .content {
  transform: translateY(-5px);
}

#About{
    background: #ffffffcc;
    backdrop-filter: blur(2px);
    border-radius: 32px;
    padding: 2rem 2.2rem;
    box-shadow: 0 12px 28px rgba(0,0,0,0.03), 0 0 0 1px rgba(0,0,0,0.02);
    margin-bottom: 2rem;
    border: 1px solid rgba(255,255,255,0.6);
}

#About p {
    font-size: 1rem;
    color: #2c3e4e;
    margin-bottom: 1rem;}

section{
  margin: 0.6rem auto;
  max-width: 1200px;
  padding: 0.4rem;
}

.skills-section {
  text-align: center;
  padding: 60px 20px;
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  max-width: 900px;
  margin: auto;
}

.skill-card {
  background: #f7f5f5;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.skill-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card span {
  display: block;
  font-size: 0.9rem;
  color: #0e0c0c;
}


.skill-card:hover {
  transform: translateY(-8px) scale(1.05);
  background: #222;
  box-shadow: 0 10px 25px rgba(255, 193, 7, 0.3);
}

.category{
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size:1.2rem;
}
.category-items li{
    margin-left: 1rem;
    list-style-type: none;
    font-size: 1rem;
}
.topic{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color:#222;
    border-left: 5px solid #0077b6;
    padding-left: 0.5rem;
}
.content{
    font-size: 1rem;
    color: #555;
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 1.5rem;
    z-index: 0;
}
.projects-card{
    border-radius: 10px;
    border: 1px solid #ccc ;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.projects-card:hover {
    transform: translateY(-5px);
    box-shadow : 0 8px 20px rgba(0,0,0,0.1);
}
.card-image{
    background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}
.card-image img{
    width: 240px;
    height: 125px;
}
.projects-card .title {
    font-weight: 600;
    margin-bottom : 0.5rem;
}
.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tech-tag {
    background: #eff3f6;
    padding: 0.2rem 0.7rem;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #2c5282;
}

footer{
    text-align: center;
    position: relative;
    padding: 2rem 0;
    background: linear-gradient(
    to top,
    #10691a 0%,    
    #3d7f3e 50%,
    rgba(78, 125, 79, 0) 100%
  ); 
color: rgb(234, 234, 234);

    height: 70px;
    margin-top: 4rem;
    
     border-radius: 40px 40px 0 0;
}
.footer-content {
            max-width: 1280px;
            margin: 0 auto;
            padding: 0 2rem;
        }
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;

  background: linear-gradient(
    to bottom,
    rgba(255, 180, 120, 0.25),
    transparent
  );
}
.social-links {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 1rem;
        }

.social-links a {
    color: #cbd5e1;
    font-size: 1.4rem;
    transition: color 0.2s;
}
.social-links a:hover {
            color: white;
        }
.kite-container {
  position: absolute;
  bottom: 20px;
  left: 1%;
  width: 100%;
  pointer-events: none; 
  z-index: -1;
}

.kite {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #899bf7, #8675c9);
  transform: rotate(45deg);
  position: relative;
  animation: kiteFloat 6s ease-in-out infinite;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  filter: blur(0.3px);
  opacity: 0.9;
}

.tail {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 2px;
  height: 120px;
  background: rgba(100, 100, 100, 0.4);
  transform: translateX(-50%);
}

.tail::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: #8f6bff;
  transform: rotate(45deg);
  animation: tailWave 1.5s ease-in-out infinite;
}

.tree {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;        
  opacity: 0.35;    
  z-index: 0;       
  pointer-events: none;
  animation: treeSway 6s ease-in-out infinite;
  transform-origin: bottom center;
  filter: blur(1px);
}
.tree-right{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;        
  opacity: 0.35;    
  z-index: 0;       
  pointer-events: none;
  animation: treeSway 6s ease-in-out infinite;
  transform-origin: bottom center;
  filter: blur(1px);
}
.tree1 {
  left: 5%;
  width: 180px;
}

.tree2 {
  right: 9%;
  width: 220px;
}

@keyframes kiteFloat {
  0%   { transform: translate(0, 0) rotate(45deg); }
  50%  { transform: translate(40px, -15px) rotate(47deg); }
  100% { transform: translate(0, 0) rotate(45deg); }
}

@keyframes tailWave {
  0%, 100% { transform: rotate(45deg) translateX(0); }
  50% { transform: rotate(45deg) translateX(5px); }
}

@keyframes floatRight{
    0% { transform: translate(0, 0); }
  50% { transform: translate(60vw, 10px); }
  100% { transform: translate(80vw, 0); }
    }

@keyframes treeSway {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(3deg); }
}

